@require "~ceri-materialize/2_variables"
@require "~ceri-fab/materialize"
@require "~ceri-progress/materialize"
@require "~ceri-toaster/materialize"
@require "~ceri-materialize/4_table"
@require "~ceri-materialize/5_inputFields"
ceri-files-view
  border: 1px dashed #ccc
  border-radius: 6px
  background-color: #FAFAFA
  padding: 10px 20px
  margin: 20px
  min-height: 200px
  height: calc(100%-40px)
  overflow: auto
  position: relative
  display: flex
  &:before
    content: attr(droptext) " "
    position: absolute
    font-size: 200%
    left: 0
    width: 100%
    text-align: center
    top: 45%
    opacity: .25

  .fab
    position: absolute
    display: flex
    flex-direction: column-reverse
    bottom: 24px
    right: 24px
  &.fullsize
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    .fab
      position: fixed
      bottom: 44px
      right: 44px
  table
    & > thead
      user-select: none
      .triangle
        font-size: 0.7em
        position: relative
        top: -0.4em
        padding-left: 0.25em
    & > tbody
      tr.active
        background-color: #e0f2f1 !important
        td.modified,
        td.size
          // - download cursor?
      tr
        cursor: pointer
        td
          user-select: none
          &.filename
            width: 45%
            span
              padding: 1px 5px
              display: inline-block
            input
              padding: 1px 4px
              margin: 0
              width: initial
              height: inherit
              border: 1px solid
              background: white
              box-sizing: inherit
              &:hover,
              &:focus
                border-bottom: 1px solid !important
                box-shadow: none !important
          +screenOnlyAnd($small-and-down)
            &.modified,
            &.size 
              font-size: 0.7em
    +screenOnlyAnd($small-and-down)
      &.renameState
        .modified,
          .size
          display: none
        .filename
          width: 100%
          input
            width: 100%
